.listEle {
  margin: 0px 130px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 30px 10px;
}
.textEle {
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.icon {
  height: 20px;
  width: 20px;
  margin-right: 5%;
}
.comment {
  float: right;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
.label {
  border: 0.8px solid red;
  margin-left: 10px;
  border-radius: 3px;
  padding: 3px;
}
