.box{
    position: fixed;
    top:30%;
    left: 40%;
}
.queType{
    margin:20px 0px;
    height: 20px;
    width: 300px;
}
.selector{
    margin-left:50px ;
    height: 40px;
    width: 150px;
    text-align: center;
    background-color:#D3D3D3;
    align-items: center;
}
.options{
    margin: 10px 0px;
    height: 20px;
    width: 300px;
}